:root {
    font-family: 'Hanken Grotesk', sans-serif;
    --orange: rgb(245, 132, 31);
    --gray_light: rgb(245, 245, 245);
    --blue_light: rgb(241, 249, 252);
    --blue: rgb(45, 66, 117);
    --blue_dark: rgb(22, 33, 60);
    --blue_azure: rgb(142, 202, 230);
}

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

h1 {
    margin-bottom: 1em;
    font-weight: bold;
}

h2 {
    margin-bottom: 2em;
    font-weight: bold;
}

h3 {
    margin-bottom: 2em;
    font-weight: bold;
}

.button {
    background-color: #F5841F;
    padding: 8px;
    border-radius: 20px;
    color: white;
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 2em;
    text-align: center;
}

.header_upper {
    padding: 1.5em 1em;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray_light);
}

.header_upper > ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.header_text{
    display: none;
}

.navbar {
    padding: 2em;
    overflow: hidden;
}

.navbar__menu {
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: var(--gray_light);
    transition: 1s;
    transform-origin: left;
    margin: -2em;
}

.navbar__menu--hidden {
    transform: translate(100%);

}

.footer {
    background-color: var(--blue_dark);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5em;
    flex-direction: column;
    padding: 2em 0 2em 0;
}

.footer > div {
    padding: 0 2em 0 2em;
    width: 200px;
}

.footer_čára {
    width: 80%;
    margin: auto;
    border-radius: 0.1em;
    border-top: 0.15em dashed var(--blue_azure);
}

.footer_nav {
    margin: auto;
}

.řízní_školy {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.řízní_školy > ul{
    text-align: left;
    margin: 1em;
}

.řízení_text {
    color: #F5841F;
}

.řízení_img > img {
    border-radius: 5px;
    max-width: 100%;
    width: 500px;
    margin-bottom: 2em;
}

.loga {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 2em;
}

.Výhody {
    background-color: var(--blue_light);
    padding-top: 2em;
    padding-bottom: 2em;
}

.výhody_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em;
}

.výhody_img > div {
    padding: 1em;
    width: 200px;
}

.výhody_čára {
    width: 80%;
    margin: auto;
    border-radius: 0.1em;
    border-top: 0.15em dashed var(--blue_azure);
}

.výhody_h2 {
    text-align: center;
    padding-top: 1em;
}

.výhody_text {
    display: flex;
    overflow: scroll;
    padding: 2em;
    gap: 2em;
}

.výhody_text > div {
    background-color: white;
    border-radius: 1em;
    flex: 0 0 300px;
    padding: 2em;
}


.Příběh {
    display: block;
    text-align: center;
    padding: 2em;
}

.Příběh > article > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-width: 500px;
    margin: auto;
}

.příběh_img {
    border-radius: 5px;
    max-width: 100%;
    width: 500px;
    margin-bottom: 2em;
}

.Napsali {
    display: block;
    text-align: center;
    padding: 3em;
}

.Napsali > article {
    padding: 2em;
}

.Napsali > article > div {
    padding-top: 1em;
    max-width: 300px;
    margin: auto ;
}

.Aktuality {
    display: block;
    text-align: center;
    background-color: var(--gray_light);
    padding: 2em;
}

.Aktuality > div > span {
    color: var(--orange);
}